/*!
 * BSelect v0.3.4 - 2013-07-11
 * 
 * Created by Gustavo Henke <gustavo@injoin.com.br>
 * http://gustavohenke.github.io/bselect/
 */
.bselect {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.bselect,
.bselect input,
.bselect button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.bselect.open .bselect-caret {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.bselect.disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.bselect-label,
.bselect-caret {
  position: relative;
  display: inline-block;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  cursor: pointer;
  vertical-align: middle;
}
.bselect-label:hover,
.bselect-caret:hover {
  background-position: 0 -15px;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.bselect-label {
  padding: 4px 12px;
  overflow: hidden;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.bselect-caret {
  margin-left: -1px;
  padding: 4px 5px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.bselect-caret > .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 8px 0 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
  content: "";
  vertical-align: top;
}
.bselect.disabled .bselect-label,
.bselect.disabled .bselect-caret {
  background-image: none;
  cursor: not-allowed;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bselect.disabled .bselect-label:hover,
.bselect.disabled .bselect-caret:hover {
  background-color: #f5f5f5;
}
.bselect-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 97%;
  margin: 2px 0 0;
  padding: 5px 1.5%;
  background-color: #ffffff;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.bselect-search {
  margin-bottom: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
.bselect-search > .bselect-search-input {
  display: inline-block;
  vertical-align: middle;
}
.bselect-search > .bselect-search-icon {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}
.bselect-search > .bselect-search-input {
  position: relative;
  padding: 4px 6px;
  margin: 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  cursor: text;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bselect-search > .bselect-search-input:focus {
  z-index: 2;
}
.bselect-search > .bselect-search-icon {
  width: auto;
  margin-left: -1px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.bselect-message {
  display: none;
  padding: 5px 20px 5px 15px;
  line-height: 20px;
  cursor: default;
}
.bselect-option-list {
  line-height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.bselect-option > a {
  display: block;
  padding: 5px 20px 5px 15px;
  color: #333333;
  text-decoration: none;
  white-space: normal;
}
.bselect-option.grouped {
  padding-left: 15px;
}
.bselect-option:focus {
  outline: 0;
}
.bselect-option:focus a {
  outline: thin dotted #333;
  outline-offset: -2px;
}
.bselect-option:focus a,
.bselect-option a:focus,
.bselect-option a:hover {
  color: #222222;
  text-shadow: 0 1px 0 rgba(100, 100, 100, 0.5);
  background-color: #dddddd;
  /*background-image: -moz-linear-gradient(top, #aaaaaa, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #cccccc);
  background-image: -o-linear-gradient(top, #aaaaaa, #cccccc);
  background-image: linear-gradient(to bottom, #aaaaaa, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaaaaa', endColorstr='#ffcccccc', GradientType=0);*/
}
.bselect-option.active > a,
.bselect-option.active > a:hover {
  color: #222222;
  background-color: #dddddd;
  /*background-image: -moz-linear-gradient(top, #aaaaaa, #cccccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #cccccc);
  background-image: -o-linear-gradient(top, #aaaaaa, #cccccc);
  background-image: linear-gradient(to bottom, #aaaaaa, #cccccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaaaaaa', endColorstr='#ffcccccc', GradientType=0);*/
}
.bselect-option-group {
  padding: 5px 20px 5px 15px;
  font-weight: bold;
  cursor: default;
  white-space: normal;
}
.bselect.bselect-mini .bselect-label,
.bselect.bselect-mini .bselect-caret {
  padding: 1px 6px;
  font-size: 10.5px;
}
.bselect.bselect-mini .bselect-caret {
  padding-left: 5px;
  padding-right: 5px;
}
.bselect.bselect-small .bselect-label,
.bselect.bselect-small .bselect-caret {
  padding: 2px 10px;
  font-size: 11.9px;
}
.bselect.bselect-small .bselect-caret {
  padding-left: 5px;
  padding-right: 5px;
}
.bselect.bselect-large .bselect-label,
.bselect.bselect-large .bselect-caret {
  padding: 11px 19px;
  font-size: 17.5px;
}
.bselect.bselect-large .bselect-caret {
  padding-left: 12px;
  padding-right: 12px;
}
.bselect.bselect-large .bselect-caret .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.bselect.bselect-mini,
.bselect.bselect-small,
.bselect.bselect-large {
  margin-top: 6px;
}
.bselect-inaccessible {
  position: relative !important;
  top: -9999em !important;
  left: -9999em !important;
  clip: rect(0, 0, 0, 0) !important;
  display: block !important;
  visibility: hidden !important;
  min-height: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}
