body {
  font-family: 'helvetica neue', 'helvetica', 'arial';
  background-repeat: repeat-x repeat-y;
  background-color:#eee;
}
h1 {
  font-size:7em;
  color:#ccc;
  font-weight:bold;
  text-align: center;
  margin-bottom:30px;
}
h1 .second-half {
  color:#bbb;
  font-style: italic;
}
.container {
  margin-top:10px;
}
.form-container {
  border: 3px solid #ddd;
  border-radius:10px;
  background-color: #f8f8f8;
  padding:20px;
}
.sub-label {
  color:#999;
  font-weight:normal;
}
.sub-row {
  color:#333;
}
.sub-row .col {
  margin-top:50px;
}
.sub-row .col h4 {
  padding-bottom:3px;
  border-bottom:1px solid #ddd;
  margin-bottom:10px;
}
.salt-summary {
  text-decoration: underline
}
#public-address, #private-key {
  cursor:pointer;
  background-color: #fff
}
.progress-form .bar {
  background-color:#ee6;
  width:10%;
  /*font-size:0.8em;*/
  color:#f90;
  overflow:hidden;
  white-space: nowrap;
  padding:3px 0 3px 10px;
  border-radius:5px;
}