body {
  font-family: 'helvetica neue', 'helvetica', 'arial';
  background-repeat: repeat-x repeat-y;
  background-color:#060;
}
h1 {
  font-size:5em;
  color:#eee;
  font-weight:bold;
  text-align: center;
  margin-bottom:30px;
}
h1 .second-half {
  color:#fff;
  font-style: italic;
}
.container {
  margin-top:10px;
}
.form-container {
  border: 2px solid #050;
  border-radius:10px;
  background-color: #f8f8f8;
  padding:40px;
}
.form-container label {
  color:#666;
}
.form-container .sub-label {
  color:#999;
  font-weight:normal;
}
.sub-row {
  color:#333;
}
.sub-row .col {
  margin-top:50px;
}
.sub-row .col h4 {
  padding-bottom:3px;
  border-bottom:1px solid #ddd;
  margin-bottom:10px;
}
.salt-summary {
  text-decoration: underline
}
#public-address, #private-key {
  cursor:pointer;
  background-color: #fff
}
.form-horizontal .progress-form {
  margin: 20px 0px 20px 0px;
} 
.progress-form {
  background-color: #eee;
}
.progress-form .bar {
  background-color:#f8f8f8;
  border-right:20px solid #6f6;
  width:10%;
  color:#f90;
  overflow:hidden;
  white-space: nowrap;
  padding:3px 0 3px 10px;
  font-family: 'courier new',courier,fixed;
}
.progress-scrypt {
  color:#090;
}
.progress-pbkdf2 {
  color:#f90;
}