body {
  font-family: 'helvetica neue', 'helvetica', 'arial';
  background-repeat: repeat-x repeat-y;
  background-color:#ccc;
}
.footer {
  background-color:#aaa;
  padding-top:50px;
  margin-top:50px;
  min-height: 500px;
}
h1 {
  font-size:5em;
  color:#eee;
  font-weight:bold;
  text-align: center;
  margin-top:50px;
  margin-bottom:30px;
}
h1 .second-half {
  color:#fff;
  font-style: italic;
}
.form-container {
  border: 2px solid #bbb;
  border-radius:10px;
  background-color: #f8f8f4;
  padding:40px;
  margin-bottom:50px;
}
.form-container label {
  color:#666;
}
.form-container .sub-label {
  color:#999;
  font-weight:normal;
}
.challenge {
  padding:3px;
  margin-bottom:10px;
  color: #666;
  background-color:#ddddd8;
  padding:10px;
  border-radius: 5px;  
}
.salt-explanation p {
  padding:20px;
  font-size:0.9em;
  color:#444;
}
.sub-row {
  color:#333;
}
.sub-row .col {
  margin-top:50px;
}
.sub-row .col h4 {
  padding-bottom:3px;
  margin-bottom:10px;
  color: #666;
  background-color:#bbb;
  padding:10px;
  border-radius: 5px;
}
.sub-row .col h5 {
  text-align:center;
  color: #555;
}
.sub-row p {
  padding: 10px;
  color: #666;
}
.sub-row td {
  padding: 3px;
  color: #444;
  font-size:0.9em;
}

.sub-row ul {
  padding-left:5px;
}
.sub-row li {
  margin: 4px 0 4px 0;
  color: #555;
  list-style-type: none;
}
.sub-row pre {
  border: 0px;
  background-color: #939393;
}
.sub-row a {
  color: #333;
}
.sub-row .wallet-link {
  font-size:0.8em;
  color: #464;
  text-decoration: underline
}
.sub-row .reward-amount-solved {
  color:#fff;
  background-color:#5cb85c;
  padding:2px;
  border-radius:4px;
}
.sub-row .reward-amount {
  color:#fff;
  background-color:#622;
  padding:2px;
  border-radius:4px;
}

.sub-row .unbroken {
  color:#fff;
  background-color:#622;
  padding:2px;
  border-radius:4px;
}
.sub-row .solved {
  color:#fff;
  background-color:#5cb85c;
  padding:2px;
  border-radius:4px;
}

.sub-row table {
  background-color: #939393;
  text-align:center;
  border-radius: 5px;
}
.sub-row table tr td, .sub-row table tr th {
  border-width:0px;
}
.sub-row th {
  text-align:center;
}
.salt-summary {
  text-decoration: underline
}
#public-address, #private-key {
  cursor:pointer;
  background-color: #fff
}
.col-private-key-qr, #private-key-qr {
  float:right;
  text-align:right;
}

.form-horizontal .progress-form {
  margin: 20px 0px 20px 0px;
} 
.progress-form {
  background-color: #eee;
}
.progress-form .bar {
  background-color:#f8f8f8;
  border-right:20px solid #6f6;
  width:10%;
  color:#f90;
  overflow:hidden;
  white-space: nowrap;
  padding:3px 0 3px 10px;
  font-family: 'courier new',courier,fixed;
}
.progress-scrypt {
  color:#090;
}
.progress-pbkdf2 {
  color:#f90;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #777;
    margin: 1em 0; 
    padding: 0; 
}